<div class="container">
<p class="lead">{{contatto.getNomeCompleto()}}</p>
<div class="row">
  <div class="col-sm-3">
    <p>Nome: </p>
  </div>
  <div class="col-sm-9">
    <input type="text" [(ngModel)]="contatto.nome">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p>Cognome: </p>
  </div>
  <div class="col-sm-9">
    <input type="text" [(ngModel)]="contatto.cognome">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p>Mail: </p>
  </div>
  <div class="col-sm-9">
    <input type="text" [(ngModel)]="contatto.mail">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p>Numero cell: </p>
  </div>
  <div class="col-sm-9">
    <input type="text" [(ngModel)]="contatto.cell">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p>Stelle: </p>
  </div>
  <div class="col-sm-9">
    <input type="text" [(ngModel)]="contatto.nrStelle">
  </div>
</div>